/* AFTER BEFORE COUNTERS (CONTADORES) */

body{
    counter-reset: count-01 10;
}

div#box01 div{
    counter-reset: count-h2;
}
h2::before{
    counter-increment: count-h2;
    content: counters(count-h2, ".") ":";
}

ul {
    list-style: none;
}

li.lista01::before {
    content: " > ";
}
li.lista01::after {
    content: "_";
}
li.lista02::before {
    counter-increment: count-01;
    content: counter(count-01);
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    font-size: 0.7rem;
    line-height: 1.2rem;
    text-align: center;
    color: #fff;
    background-color: blueviolet;
    border-radius: 50%;
}
li.lista02 span {
    padding: 0 0 0 2%;
    color: brown;
}
