/* AFTER BEFORE */

ul{
    list-style: none;
}

li.lista01::before{
    content: " > ";
}
li.lista01::after{
    content: "_";
}
li.lista02::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    border-radius: 50%;
}
li.lista02 span{
    padding: 0 0 0 2%;
    color: brown;
}